@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}
header{
  text-align: center;
}
h1 {
  margin: 2rem;
}

.board {
  border: 1rem solid #29d63a;
  background: #29d63a;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.squares {
  background: #272727;
  border: none;
  font-size: 5rem;
  cursor: pointer;
  outline: none;
}

.board >.X {
  color: red;
}
.board >.O {
  color: rgb(22, 198, 171);
}

.game-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  padding-bottom: 1rem;
}

li {
  list-style: none;
}

.game-wrapper button {
  background: #272727;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
}
.game-wrapper .squares{
  font-size: 5rem;
}
header button{
  background: #3972c7;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  margin: 1rem ;
}
.game-result{
  display:flex;
  flex-direction:column;
  width: 150px;
  margin:0 1rem;
}
.round-history{
  background-color: #272727;
  padding: 0.5rem;
  margin: 0.5rem 0;
}
.trophy{
  width: 100px;
}
